:root{
    /* Colors */

    --color-text: rgb(236, 203, 255);
    --color-cyan: rgb(123, 233, 255);
    --color-primary: rgb(174, 87, 224);
    --color-secondary: rgb(145, 72, 187);
    --color-dark: rgb(75, 0, 119);
    --color-bg: rgb(43, 0, 66);

    /* Fonts*/
    --font-merienda:"Merienda";
}